#addPetBlock {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #6c757d;
    color: white;
}

#addPetBlock h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}

#addPetBlock table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    color: white;
}

#addPetBlock td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid white;
}

#addPetBlock input,
#addPetBlock select {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #495057;
    background-color: #f8f9fa;
    font-size: 16px;
}

#addPetBlock button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #495057;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

#addPetBlock button:hover {
    background-color: #343a40;
}

#addPetBlock tr:nth-child(even) {
    background-color: #5a6268;
}

#addPetBlock tr:hover {
    background-color: #343a40;
    transition: 0.3s;
}
