body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
}

header {
    background:  #6c757d;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 100px);
    text-align: center;
}

.content h2 {
    font-size: 48px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.logo {
    width: 800px;
    height: auto;
}
